X city built a new stadium, each day many people visit it and the stats are saved as these columns: id, date, people

Please write a query to display the records which have 3 or more consecutive rows and the amount of people more than 100(inclusive).

For example, the table stadium:
```
+------+------------+-----------+
| id   | date       | people    |
+------+------------+-----------+
| 1    | 2017-01-01 | 10        |
| 2    | 2017-01-02 | 109       |
| 3    | 2017-01-03 | 150       |
| 4    | 2017-01-04 | 99        |
| 5    | 2017-01-05 | 145       |
| 6    | 2017-01-06 | 1455      |
| 7    | 2017-01-07 | 199       |
| 8    | 2017-01-08 | 188       |
+------+------------+-----------+
```
For the sample data above, the output is:
```
+------+------------+-----------+
| id   | date       | people    |
+------+------------+-----------+
| 5    | 2017-01-05 | 145       |
| 6    | 2017-01-06 | 1455      |
| 7    | 2017-01-07 | 199       |
| 8    | 2017-01-08 | 188       |
+------+------------+-----------+
```
Note:
Each day only have one row record, and the dates are increasing with id increasing.

# Write your MySQL query statement below
select distinct t1.* from stadium t1, stadium t2, stadium t3 where 
t1.people >=100 and t2.people >=100 and t3.people >= 100 and (
(t2.id - 1 = t1.id and t2.id + 1 = t3.id) or
(t1.id - 1 = t2.id and t1.id + 1 = t3.id) or
(t2.id - 1 = t3.id and t2.id + 1 = t1.id)
) order by id;

In [ ]:
select * from stadium s1
where s1.people>=100 and 
((select count(*) from stadium s2 where s2.id in (s1.id+1,s1.id+2) and s2.people>=100)>=2
or (select count(*) from stadium s2 where s2.id in (s1.id+1,s1.id-1) and s2.people>=100)>=2
or (select count(*) from stadium s2 where s2.id in (s1.id-2,s1.id-1) and s2.people>=100)>=2)vv